# Postgres
POSTGRES_USER=somnaire
POSTGRES_PASSWORD=somnaire
POSTGRES_DB=somnaire
POSTGRES_PORT=5432

# Server
SERVER_PORT=8080
CORS_ORIGIN=http://localhost:3000
RUST_LOG=info

# Website
WEBSITE_PORT=3000
PUBLIC_API_URL=http://localhost:8080
